<!DOCTYPE html>
<html>
<head>
    {%load static%}
    <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard_index.css'%}">

    <title>DCRS Dashboard</title>

</head>
<body>
    <div class="navbar-lagayan" id="dashboard_index">
        <div class="navbar">
            <div class="navbar-logo">
                <img src= "/static/images/dental_logo.png" width="128" height="128">
            </div>

            <div class="navbar-buttons1">
                <!-- display flex, para madefine mo na pa column ung gusto mong allignment -->
                <a href="{% url 'dashboard_choice'%}"><button>CREATE</button></a>
            </div>
            <div class="navbar-buttons2">
                <a href="{% url 'dashboard_choice'%}"><button>UPDATE</button></a>
            </div>
            <div class="navbar-buttons3">
                <a href="{% url 'dashboard_choice'%}"><button>VIEW</button></a>
            </div>

        </div>
    </div>

    <div class="content" id="design">
        <div class="box-container">
            <div class="Welcome">
                <h2>
                    <span class="welcome-container">WELCOME!</span>
                </h2>
            </div>
        </div>
    </div>

</body>
</html>